*{margin:0;padding:0; }

footer {
    padding: 20px;
    background: #782b8f;
    color: white;
    margin-top: 20px;
}

.top5 .top5pr .container {
    background: #6ab344;
}

.top6 .col-xs-12.col-sm-12.col-md-12.col-lg-12 {border: 1px solid #dddddd;}

.top6 .col-xs-12.col-sm-5.col-md-5.col-lg-5 {
    padding-right: 0px;
}

.top6 .col-xs-12.col-sm-5.col-md-5.col-lg-5 {
    padding-left: 0px;
}

.top6 h2 {
    font-size: 21px;
    font-weight: 600;
    background: #782b8f;
    color: white;
    padding: 10px;
    margin-bottom: 0px;
}

.top5 i.glyphicon.glyphicon-arrow-right {
    width: 19px;
    height: 19px;
    border: 1px solid black;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    font-size: 12px;
}

.top5 .col-xs-12.col-sm-6.col-md-6.col-lg-6 {
    background: #6ab344;
    font-weight: 600;
    font-size: 13px;
    padding: 10px;
}

.top5 h3 {
    background: #782b8f;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin-bottom: 0px;
}

.top5 h2.text-center {
    font-weight: 600;
}

.bt2 a.btn.btn-default {
    background: #782b8f;
    color: white;
    padding: 10px 29px;
    border-radius: 0px;
    font-weight: 600;
}

.top4 .thumbnail {
    border: none;
}

.top3 td.toptable {
    background: #984dae;
    color: white;
    font-weight: 600;
}

.top2 .top2pr p {
}

.top2 .top2pr {
    border: 1px solid rebeccapurple;
    padding-top: 10px;
    height: 192px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.top1 .top1pr h3 {
    font-size: 30px;
    font-weight: 600;
}

.top1 .top1pr {
    background: #fff9d3;
    padding: 25px;
    height: 156px;
    border: 1px solid black;
    margin-top: 20px;
}

.top1 {
    background: #984dae;
    padding: 20px;
}

.top1 h2 {color: white;font-weight: 700;}

.bt1 {
    padding: 15px;
}

.bt1 a.btn.btn-default {
    background: #782b8f;
    color: white;
    padding: 10px 49px;
    border-radius: 21px;
}

nav.navbar.navbar-default {
    margin-bottom: 0px;
}

nav ul li a.activepro {
    color: #984dae !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #984dae;
}

nav ul li a {
    font-size: 13px;
}
 

 